<div class="layout" id="pool-page">
    <div class="pool-status-section-title">
        Pool Status
        <div class="pool-status-section-subtitle">
            next update in :  <span countdown deadline="nextUpdate"></span> milliseconds
        </div>
    </div>

    <div class="pool-status-section">

        <div class="pool-status-overview">
            <div class="pool-status-overview-item">
                <div class="pool-status-overview-item-value">{{poolStatus.nonBusyServers}}</div>
                <div class="pool-status-overview-item-label">free</div>
            </div >
            <div class="pool-status-overview-item">
                <div class="pool-status-overview-item-value">{{poolStatus.busyServers}}</div>
                <div class="pool-status-overview-item-label">occupied</div>
            </div>
            <div class="pool-status-overview-item">
                <div class="pool-status-overview-item-value">{{poolStatus.undergoingBootstrap}}</div>
                <div class="pool-status-overview-item-label">undergoing process</div>
            </div>
        </div>
    </div>
    <div class="clean-pool bg-info">
        <div class="title">Cleaning the pool - THIS FEATURE IS NOT FULLY TESTED YET!</div>
        <div class="content">
            By clicking 'clean the pool' button you will empty your pool.<br/>
            All machines will be marked as occupied and stopped immediately.<br/>
            It will take time until new machines will be available in the pool assuming bootstrap works properly<br/>
            This process happens asynchronously so you might not see immediate results<br/>
            <br/>
            Also, this might miss machines that are currently being created and bootstrapped. <br/>
            Please make sure manually that we got all machines. <br/>
            <br/>
            <button ng-click="cleanPool()">Clean Pool</button>
        </div>
    </div>

    <div class="page-content">
    <h1> Pool Nodes </h1>
    <h2> Free Nodes </h2>


        <table class="table table-bordered table-striped">
            <tr>
                <td>Node ID</td>
                <td>Public IP</td>
                <td>Actions</td>
            </tr>
            <tr ng-repeat="node in poolNodes.free"  ng-class="{'stopped' : node.stopped}">
                <td>
                    {{node.id}}
                </td>
                <td>
                    {{node.ip}}
                </td>
                <td>
                    <button ng-click="stopServerNode(node)">Stop</button>
                </td>
            </tr>
        </table>


         <h2> Occupied Nodes </h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Node ID</td>
                <td>Public IP</td>
                <td>Time Left</td>
                <td>Actions</td>
            </tr>
            <tr ng-class="{'stopped' : node.stopped}" ng-repeat="node in poolNodes.occupied">
                <td>
                    {{node.id}}
                </td>
                <td>
                    {{node.ip}}
                </td>
                <td>
                    {{node.timeLeft|duration}}
                </td>
                <td>
                    <button ng-click="stopServerNode(node)">Stop</button>
                </td>
            </tr>
        </table>
        <h1> Bootstrap Script </h1>


        <a href="/backend/application/bootstrap/script?publicIp=1.1.1.1&privateIp=2.2.2.2" target="download">Download the bootstrap script</a>
        <iframe name="download" id="download" src="javascript:void(0)" width="0" height="0" style="display:none; height:0; width:0" frameborder="0"></iframe>

        <h1> Download Recipe </h1>

        <div class="alert alert-info">
            For S3 recipes we generate a temporary link for 5 seconds.<br/>

        </div>

        <div download-recipe-button></div>

    </div>


</div>