<div id="publicDemo">

    <div class="content">
        <div class="header">
            <a class="btn btn-link login-button" href="#/users/login">Login</a>
        </div>

        <div class="main-content">
            <div class="main-content-items">
                <div class="nav-links btn-group-vertical" data-toggle="buttons-radio">
                    <div class="btn demo-link" ng-class="{'selected': !!isSelected(widget)}"
                         ng-click="menuClick(widget)"
                         data-api-key="{{widget.apiKey}}" ng-repeat="widget in widgets | orderBy:demoSort">
                        <div class="product-icon"
                             style="background-image:url('/backend/widget/icon?apiKey={{widget.apiKey}}')"></div>
                        <div class="product-name"> {{widget.productName}}</div>
                    </div>
                </div>

                <div class="widget-preview">
                    <div embed-code widget="selectedWidget"></div>

                    <br/>


                    <h2> Recipe Properties </h2>
                    <div ng-show="needToApplyProperties()" style="color:red">Don't forget to apply properties</div>
                    <div ng-repeat="property in properties">
                        <input ng-model="property.key"> = <input ng-model="property.value"/>
                    </div>
                    <button ng-click="applyProperties()">Apply</button>
                    <button ng-click="addProperty()">Add</button>
                    <div ng-show="!!appliedProperties && appliedProperties.length > 0">
                        <h2> Applied Properties</h2>
                        <div class="applied-properties">
                            <table border="1" style="border-collapse: collapse;border:1px solid black; width:400px; margin:0 auto;">
                                <tr>
                                    <td>Key</td>
                                    <td>Value</td>
                                </tr>
                                <tr ng-repeat="property in appliedProperties">
                                    <td>
                                        {{property.key}}
                                    </td>
                                    <td>
                                        {{property.value}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>