<div id="publicDemo">

    <div class="content">
        <div class="header">
            <a class="btn btn-link login-button" href="#/users/login">Login</a>
        </div>

        <div class="main-content">
            <div class="main-content-items">
                <div class="nav-links btn-group-vertical" data-toggle="buttons-radio">
                    <div class="btn demo-link" ng-class="{'selected': !!isSelected(widget)}"
                         ng-click="menuClick(widget)"
                         data-api-key="{{widget.apiKey}}" ng-repeat="widget in widgets | orderBy:demoSort">
                        <div class="product-icon"
                             style="background-image:url('/backend/widget/icon?apiKey={{widget.apiKey}}')"></div>
                        <div class="product-name"> {{widget.productName}}</div>
                    </div>
                </div>

                <div class="widget-preview">
                    <div embed-code widget="selectedWidget"></div>

                    <br/>


                    <h2> Recipe Properties </h2>

                    <div ng-show="needToApplyProperties()" style="color:red">Don't forget to click 'send to widget' when you finish</div>
                    <div ng-repeat="property in properties">
                        <input ng-model="property.key"> = <input ng-model="property.value"/> &nbsp; <button ng-click="removeProperty(property)">remove</button>
                    </div>
                    <button ng-click="applyProperties('list')">Send list format to widget</button>
                    <button ng-click="applyProperties('map')">Send map format to widget</button>
                    <button ng-click="addProperty()">Add</button>
                    <div>
                        <h3> Json structure as list</h3>
                        <pre> {{ properties | json }} </pre>
                        <h3> Json structure as map</h3>
                        <pre> {{ propertiesMap | json }} </pre>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>