application.log
project/project
project/target
target
tmp
.history
./dist
.classpath
.project
.idea/
*.iml
*.log
.settings/
.target/
*/.DS_Store
.DS_Store
.sass-cache
conf/dev
logFile.log
/recipes
/gigaspaces-cloudify-2.2.0-ga
/.sass-cache
/.idea_modules
/conf/bin
nohup.out
.ssh/
cloudify-folder
automatic_changelog
sass
_scripts
dev
node_modules
me.json

public/cloudify/angularApps/node_modules