logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.idea/
*.iml
.settings/
.target/
*/.DS_Store
.DS_Store
conf/dev
logFile.log
/recipes
/gigaspaces-cloudify-2.2.0-ga
/.sass-cache
/.idea_modules
/conf/bin
