@import tags._

@context.set("head"){
    <link href="/public/style/login.css" rel="stylesheet">
    <link href="/public/style/hpcloud-compute.css" rel="stylesheet">
    <link href="/public/style/softlayer.css" rel="stylesheet">
    <script src="/public/js/login.js"></script>
    @context.get("head")
}


@context.set("body"){
    <div id="base" class="container">

          <div id="message" class="login-error-message global-message"></div>

                <div class="logos">
                    <a href="http://www.cloudifysource.org"><img src="/public/img/common/cloudify_logo.png"></a>
                    <a href="http://hpcloud.com"><span class="cloud-logo-icon"></span></a>
                  </div>


                <div class="well peeling-off-bottom-left">
                    <div class="container">
                        @context.get("body")
                    </div>
                </div>


    </div>

}

@templates.page()
