@(newPassword:String)
@import play.data.DynamicForm
@import tags._
@import helper.twitterBootstrap._

@context.set("title"){ Cloudify Widget Password Recovery }
@context.set("brand"){ New Password }

@context.set("body"){
      <div class="content">
        <div class="row">
          <div class="login-form">
            <h2>New Password </h2>
                <div class="clearfix">
                    Your new password is <code>@newPassword</code>.
                </div>
              <br/>
              <a href="@routes.WidgetAdmin.getSignupPage()">Don't you have account? - Sign Up</a>
              <a href="@routes.WidgetAdmin.getSigninPage()">Sign In</a>
            </form>
          </div>
        </div>
      </div>
}

@widgets.admin.loginTemplate()


