
@import play.data.DynamicForm
@import tags._
@import helper.twitterBootstrap._

@context.set("title"){ Cloudify Widget Password Recovery }
@context.set("brand"){ Password Recovery }

@context.set("body"){
          <div class="login-form">
            <h2>Enter Email</h2>
            <form id="reset_password_form">
              <fieldset>
                <div class="clearfix">
                  <input type="text" placeholder="Email" name="email"/>
                  <input type="hidden" name="h"/>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="@routes.WidgetAdmin.getSigninPage()" class="btn">Cancel</a>
              </fieldset>
            </form>
          </div>
}

@widgets.admin.loginTemplate()


