@import tags._
@import helper.twitterBootstrap._
@import play.mvc.Http.Context
@*@head()={
    this is my head content<br/>
    I can write <b>here</b> whatever I want

}
@myFunc(v:String)={ @v is the important }
@context.put("guy",myFunc _)
@Context.current().args.put("myContent",head())
@aLotOfContent()={ This is a lot of content <b>here</b>... }
@mograbi()=@{scala.collection.immutable.Map( "name" -> "first", "age" -> 32, "title"->"this is my title", "moreContent"->aLotOfContent)}
@moreContent = { "This is more content" }
@templates.scaffold(mograbi())*@
@*


*@
@context.set("title"){ Cloudify Widget Signin }
@context.set("head"){
    <link href="/public/style/login.css" rel="stylesheet">
    <script src="/public/js/login.js"></script>
}
@context.set("brand"){Welcome to the Cloudify Widget Dashboard}
@context.set("body"){

          <div class="login-form">
            <h2>Please Sign In </h2>
            <form id="signin_form">
              <fieldset>
                <div class="clearfix">
                  <input type="text" placeholder="Username" name="email" title="email"/>
                </div>
                <div class="clearfix">
                  <input type="password" placeholder="Password" name="password" title="password"/>
                </div>
                <button class="btn btn-primary" type="submit">Sign in</button>
                  <a href="@routes.WidgetAdmin.getResetPasswordPage()" class="btn">Forgot Password</a>
              </fieldset>
              <a href="@routes.WidgetAdmin.getSignupPage()">Don't you have account? - Sign Up</a>

            </form>
          </div>

}

@widgets.admin.loginTemplate()