<div id="main" class="widgets-dashboard">
    <div class="hero-unit" id="welcome_window">
        <h1>Welcome to the Cloudify Widget Dashboard!</h1>
        <p>We are thrilled to have you on board. This dashboard helps you to create a new Widget, embed the widget into your website and then monitor and administrate the running widget instances.</p>
        <p>
            <a class="btn btn-primary" href="#/widgets/create">
                Create new widget
            </a>
        </p>
    </div>
</div>
