@(ngApp:String)
@import tags._

@context.set("head"){
    <script src="/public/js/i18next/i18next-1.6.0.@js()"></script>
    <script src="/public/js/angularjs/angular.@js()"></script>
    <script src="/public/js/angularjs/angular-ui.@js()"></script>
    <script src="/public/js/angularjs/angular-cookies.@js()"></script>
    <script src="/public/js/common/WidgetModules.js"></script>
    <script src="/public/js/angularjs/ui-bootstrap-0.2.0.@js()"></script>
    <script src="/public/js/codemirror/codemirror.js"></script>
    <script src="/public/js/codemirror/modes/htmlmixed.js"></script>
    <script src="/public/js/codemirror/modes/css.js"></script>
    <script src="/public/js/codemirror/modes/javascript.js"></script>
    <script src="/public/js/codemirror/modes/xml.js"></script>
    <script src="/public/js/angularjs/ui-bootstrap-tpls-0.2.0.@js()"></script>
    <script src="/public/js/angularjs/gs-overrides.js"></script>
    <script src="/public/js/common/WidgetModules.js"></script>
    <link href="/public/style/codemirror/codemirror.css" rel="stylesheet"/>
    <link href="/public/style/codemirror/themes/monokai.css" rel="stylesheet"/>
    <!--[if lte IE 8]>
   <script src="/public/js/angaulrjs/angular-ui-ieshiv.js"></script>
<![endif]-->

    <link href="/public/style/fontawesome/css/font-awesome.@css()" rel="stylesheet"/>

    <!--[if lte IE 7]>
        <link href="/public/style/fontawesome/css/font-awesome-ie7.min.css" rel="stylesheet"/>
<![endif]-->

    @context.get("head")
}

@context.set("body"){
    <div ng-view ng-cloak>
    </div>
}
@context.set("ng-app"){@ngApp}

@templates.page()