<div class="layout" id="configuration-docs">
    <div id="main">
        <dl>
            <dt>server</dt>
            <dd>
                <dl>
                    <dt>bootstrap</dt>
                    <dd>
                        <dl>
                            <dt>createServerRetries</dt>
                            <dd>The number of times to retry when create new machine to pool fails.</dd>
                        </dl>
                    </dd>
                </dl>
            </dd>
        </dl>

    </div>
</div>