include "cloudify-prod.conf"

server={
    pool : {
                "coldInit" : false ,
                "minNode" : 2 ,
                "maxNodes" : 5,
                "expirationTimeMillis" : "60mn"
         }
 }
