@( widget:Widget, host:String )
@import widgets.dashboard.embedCode
<!DOCTYPE HTML>
<html>
<head>
    <link href="/public/style/demo.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.ba-postmessage.js"></script>
    @if(widget.isRequiresLogin){
         <script src="/public/js/demos/login.js"></script>
    }
</head>
<body>
    @embedCode(widget.getApiKey, widget.getTitle, widget.getYoutubeVideoUrl, host, widget.getShowAdvanced )
    <script src="/public/js/demos/widgetDemo.js"> </script><!-- general js file for demo purposes -->
</body>
</html>