<div class="custom-login">
    <div class="forms-section">
        <div class="google-login">
            <div class="option-title">{{ 'loginRegisterWithGoogleId' | i18n }}</div>
            <a href="/backend/widget/login/google?widgetKey={{widgetKey}}" >

                <img src="images/sign_in_with_google.png"/>
            </a>
        </div>
        <div class="divider">
            <div class="line"></div>
            <div class="divider-text"> OR </div>
            <div class="line"></div>
        </div>
        <div class="custom-form">
            <div class="option-title">{{ 'loginFillInDetails' | i18n }}</div>

            <form ng-submit="submitForm()">
                <div class="input-section">
                    <span class="login-label">
                        {{ 'loginName' | i18n }}
                    </span>
                    <input ng-model="login.name" required>
                </div>
                <div class="input-section">
                <span class="login-label">
                    {{ 'loginLastName' | i18n }}
                </span>
                    <input ng-model="login.lastName" required>
                </div>


                <div class="input-section">
                <span class="login-label">
                    {{ 'loginEmail' | i18n }}
                </span>
                    <input ng-model="login.email" required >
                </div>
                <input type="submit" value="{{'loginSubmit' | i18n}}"/>
                <div class="error">
                    {{error}}
                </div>
            </form>
        </div>
    </div>

</div>
