@field( id:String, title:String, required:Boolean, value:String, fType:String="text"  )={
<div class="control-group" ng-class="{'error': formErrors['@id'] != null }">
    <label class="control-label" for="@id">@title @if(required){<abbr class="required_mark">*</abbr>}</label>
    <div class="controls">
        <input ng-model="@value" type="@fType" id="@id" name="@id" class="@if(required){required}" popover="{{formErrors['@id'] | i18n }}" popover-placement="right"/>
        <i ui-if="infoTooltips['@id']" title="{{infoTooltips['@id']}}" class='info-icon' ui-jq="tooltip"></i>
    </div>
</div>
}

<div id="main" class="widgets-dashboard" ui-if="!actions">

    @* TODO use the i18n filter *@
    <div style="text-align: center;">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            {{ alert.msg.substring(0, alert.msg.indexOf('#')) }} <a href="{{ alert.link.href }}">{{ alert.link.text }}</a> {{ alert.msg.substring(alert.msg.indexOf('#') + 1) }}
        </alert>
    </div>

    <div class="hero-unit" id="welcome_window" ui-if="!widgets.length && angular.isDefined(widgets)">
        <h1>Welcome to the Cloudify Widget Dashboard!</h1>
        <p>We are thrilled to have you on board. This dashboard helps you to create a new Widget, embed the widget into your website and then monitor and administrate the running widget instances.</p>
        <p>
            <a class="btn btn-primary" ng-click="newWidget()">
                Create new widget
            </a>
        </p>
    </div>

    <div class="" ui-if="widgets.length">
        <div class="row" id="search_panel">
            <div class="span1">
                <form class="form-search">
                    <input id="search" type="text" placeholder="Filter widgets" class="input-medium search-query">
                </form>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="newWidget()">
                    Create new widget
                </a>
            </div>
        </div>

        <div id="summary" class="well summary" ui-if="admin">
            <ul>
                <li ng-repeat="attr in summary.attributes"><span class='count'> {{attr.value}} </span> {{attr.name}}</li>
            </ul>
        </div>

        <div id="widgets_panel">
            <table class="table table-bordered table-striped">
                <thead class="list_head">
                <tr>
                    <th id="user_name_column" ui-if="admin">User name</th>
                    <th>Product name</th>
                    <th>Product version</th>
                    <th>Provider URL</th>
                    <th>Title</th>
                    <th>Video URL</th>
                    <th>Recipe URL</th>
                    <th>Launches</th>
                    <th>API Key</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- Use this to use enable/disable options in CSS {{widget.enabled && 'enabled-widget' || 'disabled-widget'}}-->
                <tr ng-repeat="widget in widgets" class="widget"  data-widget_id="{{widget.id}}" data-api_key="{{widget.apiKey}}" id="widget_{{widget.id}}">
                    <td ui-if="admin">{{widget.username}}</td>
                    <td>{{widget.productName}}</td>
                    <td>{{widget.productVersion}}</td>
                    <td><a href="{{widget.providerURL}}">{{widget.providerURL}}</a></td>
                    <td><div class="fixed-width-column">{{widget.title}}</div></td>
                    <td>
                        <a ui-if="widget.youtubeVideoUrl" href="{{widget.youtubeVideoUrl}}" target="_blank">View</a>
                        <span ui-if="!widget.youtubeVideoUrl">N/A</span>
                    </td>
                    <td><a href="{{widget.recipeURL}}">Download</a></td>
                    <td><i title="view instances" class="icon-cog " ng-click="viewInstances(widget)"></i> <span class="badge">{{widget.numOfInstances}} / {{widget.launches}}</span></td>
                    <td><div class="fixed-width-column">{{widget.apiKey}}</div></td>
                    <td class="action_col">
                        <a href="/widget/previewWidget?apiKey={{widget.apiKey}}" style="text-decoration: none; color:black;"><i title="preview" class="icon-eye-open"></i></a>
                        <i title="edit" class="icon-edit" ng-click="editWidget(widget)"></i>
                        <i title="get embed code" class="icon-share " ng-click="getEmbed(widget)"></i>
                        <i title="delete" class="icon-trash " ng-click="delete(widget)"></i>
                        <i title="disabled - click to enable" class="icon-globe" style="color:red" ui-if="!widget.enabled" ng-click="enable(widget)"></i>
                        <i title="enabled - click to disable" class="icon-globe" style="color:green" ui-if="widget.enabled" ng-click="disable(widget)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- main -->
</div>


<!-- dialogs -->

<!-- running instances dialog -->
<div ui-if="actions.viewInstances" class="action-panel">
    <div class="modal-header">
        <h3>{{selectedWidget.instanceCount}} Running instances</h3>
    </div>
    <div class="modal-body">
        <form class="form-search pull-left">
            <input type="text" placeholder="Filter instances"
                   class="instance_search input-medium search-query">
        </form>
        <div class="alert pull-right"><i class="icon-warning-sign" style="padding-right:10px"></i>Not showing instances
            outside my cloud.
        </div>
        <table class="table table-hover" ui-if="selectedWidget.instances.length">
            <thead class="list_head">
            <tr>
                <th>Id</th>
                <th>Public IP</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr class="instance" ng-repeat="instance in selectedWidget.instances">
                    <td>{{instance.instanceId}}</td>
                    <td>{{instance.publicIP}}</td> <!-- todo : change case to Ip -->
                    <td><a href="javascript:void(0)" class="btn btn-danger shutdown_instance btn-small" ng-click="shutdown(instance)">Shutdown</a></td>
                </tr>
            </tbody>
        </table>
        <div ui-if="!selectedWidget.instances.length">
            There are no running instances
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="goBack()">Done</button>
    </div>
</div>

<!-- get embed code modal -->
<div modal="showEmbedCode" close="goBack()" class="action-panel" options="opts">
    <div class="modal-header"> <h3> Embed Code</h3> </div>
    <div class="modal-body">
        <textarea ui-codemirror="{theme:'monokai'}" autofocus readonly class="code">@views.html.widgets.dashboard.embedCode( "{{showEmbedCode.apiKey}}", "{{showEmbedCode.title}}","{{showEmbedCode.youtubeVideoUrl}}","{{host}}" ).toString()</textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="goBack()">Done</button>
    </div>
</div>

<!-- require login modal -->
<div ui-if="actions.editWidget" id="editWidget" class="action-panel">
    <div class="modal-header"><h1>Edit Widget</h1><h2> {{editSection}} </h2><h3> {{actions.editWidget.productName}} - {{actions.editWidget.productVersion}}</h3></div>

    <div class="btn-group dialog-switch" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-primary" ng-model="editSection" btn-radio="'Details'">Details</button>
        <button type="button" class="btn btn-primary" ng-model="editSection" btn-radio="'Description'">Description</button>
    </div>
    <form name="widgetForm" class="form-horizontal" style="margin-bottom:0;">
        <div class="modal-body" ng-switch="editSection" style="overflow:hidden">

            <fieldset ng-switch-default>
                <div class="container-fluid" style="display:block; width:965px;margin:auto;">
                    <div class="span6" style="border-right:1px solid #EEE">
                        <div>
                            <input type="hidden" name="widgetId" value="actions.editWidget.id"/>
                            @field("productName", "Product Name", required = true, value = "actions.editWidget.productName")
                            @field("productVersion", "Product Version", required = true, value = "actions.editWidget.productVersion")
                            @field("title", "Title", required = true, value = "actions.editWidget.title")
                            @field("recipeName", "Recipe Name", required = true, value = "actions.editWidget.recipeName")
                            @field("recipeURL", "Recipe URL", required = true, value = "actions.editWidget.recipeURL")
                            @field("providerURL", "Provider URL", required = true, value = "actions.editWidget.providerURL")
                        </div>
                        <div style="border-bottom:1px solid #EEE; height:0">&nbsp;</div>
                        <div>
                            <input type="hidden" id="widgetId" name="widgetId" value=""/>
                            @field("requireLogin", "Require Login", required = false, value = "actions.editWidget.requireLogin", fType = "checkbox")
                            @field("loginVerificationUrl", "Verification URL", required = false, value = "actions.editWidget.loginVerificationUrl")
                            @field("webServiceKey", "Web Service Private Key", required = false, value = "actions.editWidget.webServiceKey")
                        </div>
                    </div>
                    <div class="span6">
                        @field("youtubeVideoUrl", "Youtube Video URL", required = false, value = "actions.editWidget.youtubeVideoUrl")
                        @field("consolename", "Console Link Title", required = false, value = "actions.editWidget.consolename")
                        @field("consoleurl", "Console Link URL", required = false, value = "actions.editWidget.consoleurl")
                        @field("consoleUrlService", "Console URL Service", required = false, value = "actions.editWidget.consoleUrlService")
                        @field("rootpath", "Recipe Root Path", required = false, value = "actions.editWidget.rootpath")
                        <div class="control-group">
                            <label class="control-label" for="apiKey">API Key</label>
                            <div class="controls">
                                <input type="text" disabled="disabled" id="apiKey" name="apiKey" value="{{actions.editWidget.apiKey}}">
                                <i style="margin-left:10px;" title="Click to regenerate key" class='icon-refresh' ui-jq="tooltip" ng-click="regenerateKey(actions.editWidget)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset ng-switch-when="Description">
            <textarea  ui-codemirror="{theme:'monokai'}" ng-model="actions.editWidget.description" id="description" name="description"></textarea>
            </fieldset>

        </div>
        <div class="modal-footer">

            <div class="control-label"> <abbr style="color:red"> * </abbr> Mandatory fields </div>
            <button class="btn" ng-click="goBack()">Cancel</button>
            <input type="submit" class="btn btn-primary"  value="Save" ng-click="saveWidget(actions.editWidget)"/>
            <button class="btn btn-primary" ng-click="saveWidget(actions.editWidget, true)"> Save and Done</button>
        </div>
      </form>
</div>







