@(mixpanelKey:String, widget:Widget)
@import views.html.widgets.dashboard.embedCode
    <!DOCTYPE html>
<html>
  <head>
    <title>Widget</title>
    <link rel="stylesheet" type="text/css" href="/public/style/widget.css">
    <link rel="stylesheet" type="text/css" href="/public/style/relevant-dropdown.css">
    <script src="/public/js/consoleFix.js" type="text/javascript"></script>
    <script src="@routes.Application.javascriptRoutes()" type="text/javascript"></script>
    <script src="/public/js/modernizr/modernizr.custom.13010.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.cookie.js"></script>
    <script src="/public/js/widget.js"></script>
    <script type="text/javascript" src="/public/js/jquery.ba-postmessage.min.js"></script>
    @if(mixpanelKey != null){
      <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
      typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
      e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
      mixpanel.init("@mixpanelKey");</script><!-- end Mixpanel -->
    }else{
        <script>mixpanel = { track:function(){} }</script>
    }
  </head>
  <body @if(widget.isRequiresLogin()){data-requires-login="requires-login"} >
    <img src="/img/beta.png" class="beta-ribbon"/>
    <span id="title"></span>

        <a herf="javascript:void(0)" id="start_btn" class="button" ></a>
        <a herf="javascript:void(0)" id="stop_btn" class="button" style="display:none"></a>
    <ul id="log"></ul>
    <ul id="links">
      <li class="mock"><span class="mock_text">Manage Your App</span><a id="cloudify_dashboard_link" href="#" target="_blank">Manage Your App</a></li>
      <li class="mock" id="custom_link"><span class="mock_text">@widget.getConsoleName</span></li>
    </ul>
    <span id="time_left" style="display:none;">Time left: <span id="time_left_counter"></span></span>
    <div id="video_container">

        @if(widget.getYoutubeVideoKey() != null ){
            <object width="270" height="160"><param name="movie" value="http://www.youtube.com/v/@widget.getYoutubeVideoKey()?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/@widget.getYoutubeVideoKey()?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="270" height="160" allowscriptaccess="always" wmode="transparent" allowfullscreen="true"></embed></object>
        }
    </div>

<div class="advanced_section">
    <div class="remember_creds">
        <div class="remember_me_title">Remember me?</div>
        <div class="remember_option"><button class="yes" onclick="$(this).trigger('yes');">Yes</button></div>
        <div class="remember_option"><button class="no" onclick="$(this).trigger('no');">No</button></div>
    </div>
    <div class="advanced_header">
            <a href="javascript:void(0)" class="advanced_title" onclick="$(this).closest('.advanced_section').toggleClass('collapsed');">Advanced</a>
            <a id="pemFileLink" class="download-link download-pem-link" href="javascript:void(0)"> PEM </a>
    </div>
    <!-- need to set autocomplete=off explicitly in order to turn off the browser's built-in autocomplete -->
    <form class="advanced_form" autocomplete="off">
        <input name="project_name" autocomplete="off" placeholder="project"/>
        <input name="hpcs_key" autocomplete="off" placeholder="HPCS Key"/>
        <input name="hpcs_secret_key" placeholder="HPCS Secret Key" type="password"/>
        <div class="form-footer-links">
            <a class="form-footer-links" href="http://youtu.be/lHtOBXpouyo" target="_blank">Help</a>
            <a style="display:none" id="hp_console_link" class="form-footer-links" href="http://console.hpcloud.com" target="_blank">HP Console</a>
        </div>
        <input type="submit" class="hidden" value="submit"/>
    </form>
</div>

<div style="display:none" class="previous_advanced_section">
//    <a id="show_advanced" href="javascript:void(0)"><img src="/img/widget_advanced_collapsed.png"></a>
@**@
//    <a id="pemFileLink" class="download-link" href="javascript:void(0)">PEM</a>
//    <div id="advanced" style="display:none;">
//      <a id="hide_advanced" href="javascript:void(0)"><img src="/img/widget_advanced_head.png"></a>
//      <form>
        <input name="hpcs_key" placeholder="myuser@@mydomain.com:66579898000" title="<project-name>:<access-key>">
        <input name="hpcs_secret_key" placeholder="HPCS Secret Key" title="<secret-key>">
      </form>
    </div>
</div>

    <div id="footer">
      Powered by: <a href="http://hpcloud.com" target="_blank"><img class="brand_btns" src="/img/hp_cloud_icon.png"></a>
      <a href="http://cloudifysource.org" target="_blank"><img class="brand_btns" src="/img/cloudify_icon.png"></a>
      <a herf="javascript:void(0)" id="patent_pending">&nbsp;&nbsp;(Patent Pending)</a>
          <div class="put_left">
              <!-- TODO update image for embed button -->
              <span id="embed_btn"><img src="/img/share_widget.png"></span>
              <a class="share_link" id="facebook_share_link" href="#"><img src="/img/share_facebook.png"></a>
              <a class="share_link" id="google_plus_share_link" href="#"><img src="/img/share_google.png"></a>
              <a class="share_link" id="twitter_share_link" href="#"><img src="/img/share_twitter.png"></a>
          </div>
    </div>
    <div id="embed-code-box">
        <i class="close"></i>
        <h3>Embed Code</h3>
        <p>Copy the code below to embed the widget on your website.</p>
        <textarea class="autoselect" readonly="readonly">@embedCode.render( widget.getApiKey(), widget.getTitle(), widget.getYoutubeVideoUrl(), request.host()).body</textarea>
    </div>

    @*<div id="walkthrough" style="display:none">&nbsp; <a href="javascript:void(0)">Click to close</a> </div>*@
  </body>
</html>
