@import tags._

@field( id:String, title:String, required:Boolean  )={
<div class="control-group">
    <label class="control-label" for="@id">@title @if(required){<abbr class="required_mark">*</abbr>}</label>
    <div class="controls">
        <input type="text" id="@id" name="@id" class="@if(required){required}">
    </div>
</div>
}

@context.set("body"){
    <div id="main" class="widgets-dashboard">
        <div class="hero-unit" id="welcome_window">
            <h1>Welcome to the Cloudify Widget Dashboard!</h1>
            <p>We are thrilled to have you on board. This dashboard helps you to create a new Widget, embed the widget into your website and then monitor and administrate the running widget instances.</p>
            <p>
                <a class="btn btn-primary" role="button" data-toggle="modal" href="#new_widget_modal">
                    Create new widget
                </a>
            </p>
        </div>

        <div class="row" id="search_panel">
            <div class="span1">
                <form class="form-search">
                    <input id="search" type="text" placeholder="Filter widgets" class="input-medium search-query">
                </form>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" role="button" data-toggle="modal" href="#new_widget_modal">
                    Create new widget
                </a>
            </div>
        </div>

        <div id="summary" class="well summary">
            <ul>
            </ul>
        </div>

        <div id="widgets_panel">
            <table class="table table-bordered table-striped">
                <thead class="list_head">
                    <tr>
                        <th id="user_name_column">User name</th>
                        <th>Product name</th>
                        <th>Product version</th>
                        <th>Provider URL</th>
                        <th>Title</th>
                        <th>Video URL</th>
                        <th>Recipe URL</th>
                        <th>Launches</th>
                        <th>API Key</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="widget_list">
                </tbody>
            </table>
        </div>
    </div> <!-- main -->



    <script id="widget_record" type="text/x-jquery-tmpl">
             <tr class="widget {{if enabled}} enabled-widget {{else}} disabled-widget {{/if}}" data-widget_id="${id}" data-api_key="${apiKey}" id="widget_${id}">
               {{if admin}}
                 <td>${userName}</td>
               {{/if}}
               <td>${productName}</td>
               <td>${productVersion}</td>
               <td><a href="${url}">${url}</a></td>
               <td>${title}</td>
               <td>
                 {{if videoUrl}}
                   <a href="${videoUrl}" target="_blank">View</a>
                 {{else}}
                   N/A
                 {{/if}}
               </td>
               <td><a href="${recipeUrl}">Download</a></td>
               <td><span class="badge">${launches}</span></td>
               <td>${apiKey}</td>
               <td class="action_col">
                 <div class="btn-group">
                   <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                     Action
                     <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                     <li><a class="regenerate_key_btn" href="#">Regenerate Key</a></li>
                     <li><a class="disable_widget_btn" href="#">Disable</a></li>
                     <li><a class="enable_widget_btn" href="#">Enable</a></li>
                     <li><a class="delete_widget_btn" href="javascript:void(0)">Delete</a> </li>
                     <li><a class="edit_widget_btn"  href="javascript:void(0)">Edit</a> </li>
                     <li><a href="#widget_${id}_get_embed_modal" data-toggle="modal">Get Embed Code</a></li>
                     <li><a class="preview_widget_btn" href="/widget/previewWidget?apiKey=${apiKey}" target="_blank">Show Preview</a> </li>
                   </ul>
                 </div>
               </td>
               <td class="instances_col">
                 <span class="label label-important disabled_marker" >Disabled</span>
                 <span class="label label-success instances_btn"><a data-toggle="modal" href="#widget_${id}_instances_modal">View Instances</a></span>
                 <div id="widget_${id}_instances_modal" class="modal-window modal hide fade" tabindex="-1" role="dialog" aria-labelledby="widget_${id}_instances_label" aria-hidden="true">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3 id="widget_${id}_instances_label">${instanceCount} Running instances</h3>
                   </div>
                   <div class="modal-body">
                     <form class="form-search pull-left">
                       <input type="text" placeholder="Filter instances" class="instance_search input-medium search-query">
                     </form>

                     <table class="table table-hover">
                       <thead class="list_head">
                         <tr>
                           <th>Id</th>
                           <th>Anonymous</th>
                           <th>Public IP</th>
                           <th></th>
                         </tr>
                       </thead>
                       <tbody id="widget_${id}_instances">
                       </tbody>
                     </table>
                   </div>
                 </div>
                 <div id="widget_${id}_get_embed_modal" class="modal-window modal hide fade" tabindex="-1" role="dialog" aria-labelledby="widget_${id}_get_embed_label" aria-hidden="true">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3 id="widget_${id}_get_embed_label">Embed Code</h3>
                   </div>
                   <div class="modal-body">
                     <textarea autofocus readonly class="code">@views.html.widgets.dashboard.embedCode( "${apiKey}", "${title}","${videoUrl}","${host}" ).toString()</textarea>
                   </div>
                 </div>
               </td>
             </tr>
   </script>

    <script id="widget_instance_tmpl" type="text/x-jquery-tmpl">
        <tr class="instance" data-instance_id="${instanceId}">
          <td>${instanceId}</td>
          <td>${anonymous}</td>
          <td>${publicIP}</td> @* todo : change case to Ip *@
          <td><a href="#" class="btn btn-danger shutdown_instance btn-small">Shutdown</a></td>
        </tr>
  </script>



<div id="new_widget_modal" class="modal-window modal hide fade" tabindex="-1" role="dialog" aria-labelledby="create_widget_form_label" aria-hidden="true">
      <form id="new_widget_form" class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="create_widget_form_label">Create new widget</h3>
        </div>
        <div class="modal-body">
          <fieldset>
              <input type="hidden" id="widgetId" name="widgetId" value=""/>
              @field("productName", "Product Name", required =true )
              @field("productVersion", "Product Version", required = true )
              @field("title", "Title", required =true )
              @field("youtubeVideoUrl", "Youtube Video URL",required = false )
              @field("providerURL", "Provider URL",required = true )
              @field("recipeURL", "Recipe URL", required =true )
              @field("consolename", "Console Link Title", required =false )
              @field("consoleurl", "Console Link URL", required =false )
              @field("rootpath", "Recipe Root Path", required =false )
            <div class="control-group">
              <div class="control-label">
                <abbr style="color:red">*</abbr> Mandatory fields
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <a class="btn" aria-hidden="true" href="http://www.cloudifysource.org/guide/2.2/developing/recipes_overview" target="_blank">Help</a>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Create">
        </div>
      </form>
    </div><!-- new_widget_modal -->



}


@dashboardTemplate()