<div id="main" class="hero-unit container change-password" >


    <div class="global-message">
        {{globalMessage}}
    </div>
    <h2> Change Password </h2>


    <form ng-submit="submitChangePasswordForm()" class="form-horizontal">
        Minimum of 4 characters. \n At least 1 upper-case, \n 1 lower-case \n and 1 digit.
        <br/><br/>

        Old Password : <input ng-model="data.oldPassword" type="password"/><br/>
        New Password : <input ng-model="data.newPassword" type="password"/><br/>
        Confirm Password : <input ng-model="data.confirmPassword" type="password"/><br/>
        <button class="btn btn-primary">Submit</button>
    </form>



</div>