#main {
  margin: 20px;
}

#new_widget_modal form {
  margin: 0px;
}

.logotype {
  margin-left: 10px;
  margin-top: 3px;
  margin-right: 10px;
}

.code {
  width: 515px;
  height: 90px;
}

.instances_btn a {
  color: white;
}

#widget_list tr td {
  text-align: center;
}

.list_head tr th {
  text-align: center;
}

td.action_col {
  text-align: left !important;
}

.modal-header {
  text-align: left !important;
}

.info-icon {
  margin-left: 10px;
  background-image: url("/public/admin/img/icon-help.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  *margin-right:.3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/public/admin/img/icon-help.png");
  background-repeat: no-repeat;
  background-position-y: -20px;
}

.info-icon:hover {
  background-position-y: 0px;
}

.required_mark {
  color: red;
  margin-left: 2px;
}

.modal-body {
  max-height: 450px;
}

.code {
  cursor: text !important;
}
