
@import "../../bourbon/bourbon";

$widget_width: 600px;

html,body,body>div, .nav-links{
  height:100%;
}

body{
  background-color:#f7f7f7;
}

.walkthrough{
  position:absolute;
  z-index: 2000;
  top:55px;
  right:30px;
  height:473px;
  width:$widget_width;
  padding-left:40px;
  padding-right:33px;
  padding-bottom:172px;
  padding-top:10px;
  background: url('/public/img/demo/tooltipBG.png') no-repeat;
  //background: url('/public/img/demo/walkthrough.png') -10px -15px no-repeat;
  .wt-tooltip{ z-index: 2000; text-shadow:2px 1px #000; position:absolute; color:#00D8FF; font-size:14px; font-weight: bolder;  &:before{ display: inline-block; position: absolute; text-align: center; }}
  .arrow1{ background:url('/public/img/demo/arrow1.png') no-repeat; display:inline-block; width:41px; height:57px; }
  .arrow2{ background:url('/public/img/demo/arrow2.png') no-repeat; display:inline-block; width:41px; height:57px; }
  .arrow3{ background:url('/public/img/demo/arrow3.png') no-repeat; display:inline-block; width:33px; height:57px; }
  .arrow4{ background:url('/public/img/demo/arrow4.png') no-repeat; display:inline-block; width:39px; height:79px; }
  .arrow5{ background:url('/public/img/demo/arrow5.png') no-repeat; display:inline-block; width:43px; height:60px; }
  .arrow6{ background:url('/public/img/demo/arrow6.png') no-repeat; display:inline-block; width:47px; height:41px; }

  .manage{ margin-left: 73px; margin-top: 132px; &:before{ content: "Open the management and monitoring console"; margin-top: -51px; width: 170px; margin-left: -84px; }  }
  .view{ margin-left: 220px; margin-top: 132px; &:before{   content: "Open the app home page or the service's management console"; margin-top: -70px; width: 180px; margin-left: -13px; } }
  .start{ margin-left: 508px; margin-top: 105px; &:before{  content: "Launch the application or service defined for this player"; margin-top: -86px; width: 142px; margin-left: -67px; } }
  .learn{ margin-left: 100px; margin-top: 320px; &:before{  content: "Learn more about the app or service defined for this player"; margin-top: 75px; width: 133px; margin-left: -45px; } }
  .share{ margin-left: 455px; margin-top: 440px; &:before{  content: "Share this player via your favorite social network"; margin-top: 45px; width: 145px; margin-left: -45px; } }
  .login{ margin-left: 332px; margin-top: 266px; &:before{  content: "(Optional) Use your HPCS credentials to launch the app or service under your account with no instance or time restrictions"; margin-top: 20px; width: 255px; margin-left: 42px; } }

  &.completed {
    .manage, .start, .learn, .share, .login { display: none }
  }

  .wt-close{
    background:url('/public/img/demo/close_tooltip.png');
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
    height:49px;
    width:49px;
    margin-top:-22px;
    margin-right:-22px;
  }

}

.wt-info{
  display:inline-block;
  height:22px;
  width:22px;
  background:url('/public/img/demo/info_tooltip.png') no-repeat;
  position:absolute;
  top:42px;
  right:22px;
}

.recipe{
  right:65px;
  top:65px;
  position:absolute;
}

iframe {
  width: $widget_width;
  height: 473px;
  border: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.logo {
  width: 350px;
  height: 90px;
}

.description{
  color:#231f20;
  font-size:14px;
  width: $widget_width;
}

.nav-links{
  margin-right: 100px;
  padding-right:5px;
  overflow-y:auto;    /* Required by Tamir - by design for the public cloudifysource.org page*/

  background-color:white;
  box-shadow: 0 10px 10px 5px #EAEAEA;
  width: 251px;
  white-space: nowrap;

  .demo-link{
    &.btn{ padding-right:0; padding-left:0; border-radius: 0;}
    color:#213540;
    font-size:18px;
    &.selected{
      color:#1181bf;
      font-size:18px;
      @include background-image( linear-gradient( left, #F2F2F2 95%, #D4D4D4 100% ));
      background-color:#f7f7f7;

      .product-icon{
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
      }
    }
      text-align: left;
      padding-top:10px;
      padding-bottom:5px;
      height:41px;
      border-bottom:2px solid #DEDEDE;
      border-top: 1px solid #EDEDED;
      background:white;
      cursor: pointer;

    .product-icon{
      background-repeat: no-repeat;
      display:inline-block;
      margin-left:20px;
      width:40px;
      height:40px;

      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */


    }

    .product-name{
      width:140px;
      text-overflow: ellipsis;
      padding-bottom:10px;
      display:inline-block;
      margin-left:18px;
      vertical-align: middle;
      margin-top:-15px;
    }
      .product-name, .product-version {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .product-name{ font-size:18px; }
      .product-version{ color:grey;}
  }

}