
@import "../../bourbon/bourbon";

html,body,body>div, .nav-links{
  height:100%;
}

body{
  background-color:#f7f7f7;
}


.recipe{
  right:65px;
  top:65px;
  position:absolute;
}

iframe {
  width: 600px;
  height: 473px;
  border: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.logo {
  width: 350px;
  height: 90px;
}

.description{
  color:#231f20;
  font-size:14px;
}

.nav-links{
  margin-right: 100px;
  padding-right:5px;

  background-color:white;
  box-shadow: 0 10px 10px 5px #EAEAEA;
  width: 251px;
  white-space: nowrap;

  .demo-link{
    &.btn{ padding-right:0; padding-left:0; border-radius: 0;}
    color:#213540;
    font-size:18px;
    &.selected{
      color:#1181bf;
      font-size:18px;
      @include background-image( linear-gradient( left, #F2F2F2 95%, #D4D4D4 100% ));
      background-color:#f7f7f7;
    }
      text-align: left;
      padding-top:20px;
      height:56px;
      border-bottom:2px solid #DEDEDE;
      border-top: 1px solid #EDEDED;
      background:white;
      cursor: pointer;

    .product-icon{
      background-repeat: no-repeat;
      display:inline-block;
      margin-left:20px;
      width:40px;
      height:40px;
    }

    .product-name{
      width:140px;
      text-overflow: ellipsis;
      padding-bottom:10px;
      display:inline-block;
      margin-left:18px;
    }
      .product-name, .product-version {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .product-name{ font-size:20px; }
      .product-version{ color:grey;}
  }

}