body {
  font-family: arial, serif;
  padding: 0;
  margin: 0;
  background: url('/public/img/demo/bgTopX.png') repeat-x;

}

.content {
  padding: 145px 10px 10px;
  margin: auto;
  width: 1015px;
}

.recipe {
  margin: auto;
  width: 600px;
}

.container {
  background: url('/public/img/demo/background.png') no-repeat;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 600px;
  height: 473px;
  border: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.logo {
  width: 350px;
  height: 90px;
}