/* Override some defaults */
html, body {
  background-color: #eee;
}


#base .well{
    background-color:#fff;
    -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
             border-radius: 10px 10px 10px 10px;
     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
             box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


#base.container {
  width: 340px;
  margin-top: 117px;
}

#base .well .container{
    width:230px;
}

/* The white background content wrapper */
.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; 

}

.login-form {

}

legend {
  margin-right: -50px;
  font-weight: bold;
  color: #404040;
}

fieldset {
  margin-bottom: 8px;
}

.logos {
  margin-bottom: 18px;
    text-align: center;
}

.logos a {
    padding-left:40px
}

.logos a:first-child{
    padding-left: 0;
}

.logotype {
  margin-left: 10px;
  margin-top: 3px;
  margin-right: 10px;
}

h2 {
  font-size: 25px;
}

#hp_cloud_logo {
  margin-bottom: -7px;
}

#signin_form {
  margin: 0 0 17px;  
}

input.error {
  border-color: red;
}



#message {
  height: 38px;
  margin: 0px 100px 0px 100px;
  position: relative;
  top: 70px;
  width: 440px;
  left: 400px;
}

#message.login-error-message{
    margin:0;
    position: static;
    width: auto;
}
