body{
  background-image:url('/public/img/bg/white_wall_hash.png');
}

th,
.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #ffffff;
}

.controls { .tooltip { line-height:14px;}}
.info-icon {
  margin-left: 10px;
  background-image: url("/public/admin/img/icon-help.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  *margin-right:.3em;
  line-height: 14px;
  vertical-align: top;
  background-image: url("/public/admin/img/icon-help.png");
  background-repeat: no-repeat;
  background-position-y: -20px;
  &:hover{ background-position-y: 0px }
}


/** when i must hide something - for example, popovers with no content**/
.forceHide{ display:none !important; }