body{
  background-image:url('/public/img/bg/white_wall_hash.png');

}

html, body{
  height:100%;
}

.peeling-off-bottom-left:after{
  display:block;
  height:17px;
  width:160px;
  position: absolute;
  margin-top:20px;
  margin-left:-30px;
  content:"";
  background: url("/public/img/common/peeling_off.png") -122px -87px;
}

.peeling-off-left-top:before{
  display:block;
    width:20px;
  height:175px;
    position: absolute;
    margin-top:-21px;
    margin-left:-40px;
    content:"";
    background: url("/public/img/common/peeling_off.png") -3px -10px;
}

.peeling-off-left-bottom:after{
  display:block;
    width:20px;
  height:160px;
    position: absolute;
    margin-top:20px;
    margin-left:-30px;
    content:"";
    background: url("/public/img/common/peeling_off.png") -68px -25px;
}

//.peeling-off-bottom-right:after{
//  display: block;
//  height: 20px;
//  width: 160px;
//  position: absolute;
//  margin-top: 20px;
//  margin-right: -25px;
//  content: "";
//  background-image: url("/public/img/common/peeling_off.png") -146px -104px;
//}

th,
.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #ffffff;
}

.controls { .tooltip { line-height:14px;}}
.info-icon {
  margin-left: 10px;
  background-image: url("/public/admin/img/icon-help.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  *margin-right:.3em;
  line-height: 14px;
  vertical-align: top;
  background-image: url("/public/admin/img/icon-help.png");
  background-repeat: no-repeat;
  background-position-y: -20px;
  &:hover{ background-position-y: 0px }
}


/** when i must hide something - for example, popovers with no content**/
.forceHide{ display:none !important; }