.cloud-logo-icon{ /* common CSS rules regardless to brand */ 
     display:inline-block;
}

body.SOFTLAYER{

    .cloud-logo-icon{ 
        content:url('/img/common/softlayer_logo.png');
        vertical-align: bottom;
     }

     .cloud-min-logo-icon{
       
         content:url('/img/softlayer_min.png');
         vertical-align: bottom;
     }

     .form-footer-links{
       display:none;
     }

  .login{ margin-left: 332px; margin-top: 266px; &:before{  content: "(Optional) Use your Softlayer credentials to launch the app or service under your account with no instance or time restrictions"; margin-top: 20px; width: 255px; margin-left: 42px; } }
}


