body {
  background-image: url("/img/widget_background.png");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
  height: 112px;
  width: 112px;
  position: absolute;
  top: 125px;
  right: 17px;
}

#start_btn {
  background-image: url("/img/play_button.png");
}

#stop_btn {
  background-image: url("/img/pause_button.png");
}

.beta-ribbon{
  float: right;
  margin-top: -6px;
  margin-right: -6px;
}

.button:hover {
  cursor: pointer;
}

#patent_pending {
  font-size: 10px;
  top: 13px;
  left: 208px;
  list-style-type: none;
  position: absolute;
  color: black;
  font-family: "Helvetica Neue";
}

#log {
  font-size: 14px;
  list-style-type: none;
  position: absolute;
  color: white;
  left: -10px;
  width: 440px;
  top: 63px;
  height: 110px;
  overflow-y: hidden;
}

#log li.error {
  color: #E95625;
  font-size: 16px;
  font-weight: bold;
}

#log li.important {
  font-size: 16px;
  font-weight: bold;
  a{ color:#F09927;}
}

/* selected text - must use separate rule for gecko as the whole rule will be dropped on non-supporting engines */
#log li::-moz-selection,
#log li a::-moz-selection {
  background-color: #F09927;
  color: #FFF;
}
#log li::selection,
#log li a::selection {
  background-color: #F09927;
  color: #FFF;
}

#title {
  color: #F09927;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

#time_left {
  position: absolute;
  color: white;
  top: 199px;
  left: 332px;
  font-size: 14px;
}

#time_left_counter {
  font-weight: bold;
}

#links {
  list-style-type: none;
  position: absolute;
  top: 185px;
  left: -9px;
  font-size: 14px;
  a{ color: black; }
  li{
      float: left;
      margin-right: 9px;
      background: url("/img/arrow.png") no-repeat left top;
      background-position-y: 2px;
      padding: 0px 0px 0px 14px;

    &.mock {
      .mock_text{ display:inline; }
      a{ display:none; }
    }
    .mock_text{ display:none; }
    a { display:inline; }
  }
}

#footer {
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  width: 580px;
}

.put_left {
  float: right;
}

.brand_btns {
  margin-bottom: -6px;
  margin-right: 8px;
}

.download-link{
  &:before{
      background-image: url('/public/img/icons/download_arrow.png');
      display:inline-block;
      width:11px;
      height:15px;
      z-index: 10;
      content: "";
      background-repeat: no-repeat;
      position:relative;
      margin-top:-4px;
      margin-left:-10px;
    top:-3px;
    }
}




#video_container{
  object{
    position: absolute;
    left: 20px;
    bottom: 65px;
  }
  object,embed{
    height:160px;
    width:270px;
  }
}


.advanced_section{
  width: 272px;
   height: 158px;
   position: absolute;
   bottom: 65px;
   right: 20px;
   padding-left:14px;
  border-radius: 5px;
  background-color:#EFEFEF;
  border:1px solid #00B4DA;

  &.collapsed{
    .advanced_form { display:none;}
      height:46px;
    bottom:177px;
    .advanced_header{
      .advanced_title:before{
        background:url('/public/img/advanced_bulletin.png') 0 -16px no-repeat;
      }
    }

  }
  .advanced_header{

    margin-left:5px;
    margin-top:10px;
    .advanced_title{
      font-size:17px;
      color:#00586B;
      text-decoration: none;
      cursor: pointer;
      &:before{
            content:"";
            display:inline-block;
            height:16px;
            width:20px;
            background:url('/public/img/advanced_bulletin.png') 0 3px no-repeat;
          }
    }
  }
  .advanced_form{
    input{
      margin-top:5px;
      width:250px;
      padding-right:5px;
      padding-left:5px;
      padding-top:3px;
      padding-bottom:3px;
      border-radius: 5px;
    }
  }

  #pemFileLink{
    float:right;
    display:none;
    bottom: 195px;
    margin-right: 12px;
    z-index: 10;
    background-color: #87CEFA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px 4px 4px 12px;
    font-size: 10px;
    font-weight: bold;
  }


}
#advanced form input {
  position: absolute;
  height: 21px;
  width: 220px;
  border: 0px none white;
  box-shadow: none;
}


#advanced {
  background-image: url("/img/advanced_form.png");
  width: 272px;
  height: 158px;
  position: absolute;
  bottom: 65px;
  right: 20px;
}

#show_advanced {
  position: absolute;
  bottom: 178px;
  right: 20px;
}

#advanced form input:-webkit-input-placeholder {
    color:    #999;
}
#advanced form input:-moz-placeholder {
    color:    #999;
}
#advanced form input:-ms-input-placeholder {
    color:    #999;
}


#advanced form input:focus {
  outline: none;
}

#advanced form input[name="hpcs_key"] {
  top: 50px;
  left: 15px;
}

#advanced form input[name="hpcs_secret_key"] {
  top: 96px;
  left: 15px;
}


#walkthrough {
  position: absolute;
  background: url('/public/img/demo/walkthrough.png') -10px -15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //opacity: 0.5;

  &.no_link{
    background: url('/public/img/demo/walkthrough-no-link.png') -10px -15px;
  }

  a{
    color:white;
    position:absolute;
    left:10px;
    top:10px;

  }
}

.form-footer-links{
  margin-top:2px;
  float:right;
  margin-right:5px;
  font-size:12px;
  a {
    color: #046c9f;
    text-decoration: none;
    border-bottom: 1px dashed;
    &:hover {
      border-bottom-style: solid;
      &:before,
      &:after {
        position: absolute;
        display: block;
        background-color: #e6e6e6;
      }
      &:before {
        content: 'If you\2019re an HP Cloud Services User, Use the Api Keys in the HP Cloud Console to get the cloud credentials. The screen shot below outlines the properties you need retrieve from the HPCS console:';
        bottom: 26px;
        right: 10px;
        width: 382px;
        height: 340px;
        border: 1px solid #00B4DA;
        padding: 12px;
        box-shadow: 1px 1px 7px #777;
      }
      &:after {
        content: url('/img/demo/hp-tooltip.jpg');
        bottom: 27px;
        right: 11px;
      }
    }
  }
}

.log-ellipsis{
  display:none;
  &:last-child{
    display:list-item;
  }
}
