#main {
  margin: 20px;
  &.container {
    width: 450px;
    margin: 15px auto;
  }
  &.widgets-dashboard {

    #summary, #user_name_column{ display:none };

    &.admin-view{
      #summary { display:table };
      #user_name_column{ display:block };
    }
    #welcome_window {
      display: none;
    }

    &.empty-list {
      #welcome_window {
        display: block;
      }
      #search_panel, #widgets_panel, #summary {
        display: none;
      }
    }

    .enabled-widget {
      .enable_widget_btn, .disabled_marker {
        display: none;
      }
    }
    .disabled-widget {
      .disable_widget_btn, .instances_btn{display:none;}
    }

  }
}

#new_widget_modal form {
  margin: 0px;
}

.logotype {
  margin-left: 10px;
  margin-top: 3px;
  margin-right: 10px;
}

.code {
  width: 515px;
  height: 90px;
}

.instances_btn a {
  color: white;
}

#widget_list tr td {
  text-align: center;
}

.list_head tr th {
  text-align: center;
}

td.action_col {
  text-align: left !important;
}

.modal-header {
  text-align: left !important;
}

.summary {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table-row;
  }
  li {
    margin: 0;
    padding: 19px;
    display: table-cell;
    border-right: 1px solid #eee;
    &:last-child {
      border: none
    }
  }
}

.summary li
.summary li:last-child {
  border: none;
}

.summary a {
  display: block;
  font-size: 1.2em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #000;
}

.summary .count {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}

.required_mark {
  color: red;
  margin-left: 2px;
}

.modal-body {
  max-height: 450px;
}

@media all and (min-height: 699px) {
  .modal-body {
    max-height: 500px;
  }
}

@media all and (max-height: 699px) and (min-height: 675px) {
  .modal-body {
    max-height: 500px;
  }

  .modal.fade.in {
    top: 40%;
  }
}

.code {
  cursor: text !important;
}

