#pool-page{

    .pool-status-section-title{
      text-align:center;
      font-size:20px;
      font-weight:bold;
      padding:20px;

      .pool-status-section-subtitle{

        font-size:13px;
        font-weight: normal;
      }

    }

    .pool-status-section{

      display: table;

      width:400px;
      margin:0 auto;

      text-align:center;




      .pool-status-overview{

        display:table-row;

        .pool-status-overview-item{
          display:table-cell;

          .pool-status-overview-item-value{
            font-size:47px;
            line-height:40px;
            width:100px;
          }

          .pool-status-overview-item-label{
            width:100px;
          }
        }
      }
    }

    .bg-info {
      background: #d9edf7;
      padding:20px;
    }

    .clean-pool{
      width:800px;
      margin:0 auto;
      .title{
        font-weight: bold;
      }
    }

  .page-content{
    width:1100px;
    margin:0 auto;
  }

  table {
    .stopped{
      &, td{
        background:red;
      }
    }
  }

}