@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
#widget-view {
  height:463px;
  padding:15px;
  /* helper classes */
  background: url("../images/widget_background.png") no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .error {
    color: red;
  }


  /* components */

  .button {
    height: 112px;
    width: 112px;
    position: absolute;
    top: 125px;
    right: 17px;
  }

  #stop_btn, #start_btn {
    position: absolute;
    left: 467px;
    top: 139px;
  }

  #start_btn {
    background: url("../images/play_button_sprite.png") 0 -336px no-repeat;

    &:hover {
      background-position: 0 -448px;
    }

    &:active {
      background-position: 0 0;
    }

  }

  #stop_btn {
    background: url("../images/play_button_sprite.png") 0 -112px no-repeat;

    &:hover {
      background-position: 0 -560px;
    }

    &:active {
      background-position: 0 -224px;
    }

    &.executing:after {
      height: 112px;
      width: 112px;
      content: "";
      background: url("../images/playing-gradient.png");
      display: inline-block;

      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s;

      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s;

      -webkit-animation-name: rotate;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;

      -moz-animation-name: rotate;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
    }
  }

  .beta-ribbon {
    margin-top: -6px;
    margin-right: -6px;
    left: 536px;
    top: 8px;
    position: absolute;
  }

  .button:hover {
    cursor: pointer;
  }

  #patent_pending {
    font-size: 10px;
    top: 13px;
    left: 238px;
    list-style-type: none;
    position: absolute;
    color: black;
    font-family: "Helvetica Neue";
  }

  #log {
    font-size: 14px;
    list-style-type: none;
    position: absolute;
    color: white;
    left: 0;
    width: 440px;
    top: 73px;
    height: 110px;
    overflow-y: hidden;
  }

  #log li.error {
    color: #E95625;
    font-size: 16px;
    font-weight: bold;
  }

  #log li.important {
    font-size: 16px;
    font-weight: bold;
    a {
      color: #F09927;
    }
  }

  /* selected text - must use separate rule for gecko as the whole rule will be dropped on non-supporting engines */
  #log li::-moz-selection,
  #log li a::-moz-selection {
    background-color: #F09927;
    color: #FFF;
  }
  #log li::selection,
  #log li a::selection {
    background-color: #F09927;
    color: #FFF;
  }

  #title {
    color: #F09927;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;

  }

  #time_left {
    position: absolute;
    color: white;
    top: 199px;
    left: 290px;
    font-size: 14px;
  }

  #time_left_counter {
    font-weight: bold;
  }

  #links {
    list-style-type: none;
    position: absolute;
    top: 200px;
    left: 0;
    font-size: 14px;
    a {
      color: black;
      text-decoration: underline;
    }
    li {
      float: left;
      margin-right: 9px;
      background: url("../images/arrow.png") no-repeat left top;
      background-position-y: 2px;
      padding: 0px 0px 0px 14px;

      &.mock {
        .mock_text {
          display: inline;
        }
        a {
          display: none;
        }
      }
      .mock_text {
        display: none;
      }
      a {
        display: inline;
      }
    }
  }

  #footer {
    font-size: 12px;
    position: absolute;
    top: 425px;
    width: 580px;
  }

  .brand_btns {
    margin-bottom: -6px;
    margin-right: 8px;
  }

  .download-link {
    &:before {
      background-image: url('/public/img/icons/download_arrow.png');
      display: inline-block;
      width: 11px;
      height: 15px;
      z-index: 10;
      content: "";
      background-repeat: no-repeat;
      position: relative;
      margin-top: -4px;
      margin-left: -10px;
      top: -3px;
    }
  }

  #video_container {
    object, iframe {
      position: absolute;
      left: 20px;
      top: 252px;
    }
    object, embed, iframe {
      height: 160px;
      width: 270px;
    }
  }

  .advanced_section {
    width: 272px;
    height: 158px;
    position: absolute;
    top: 252px;
    left: 300px;
    padding-left: 14px;
    border-radius: 5px;
    background-color: #EFEFEF;
    border: 1px solid #00B4DA;

    &.collapsed {
      .advanced_form {
        display: none;
      }
      height: 46px;
      bottom: 177px;
      .advanced_header {
        .advanced_title:before {
          background: url('../images/advanced_bulletin.png') 0 -16px no-repeat;
        }
      }

    }

    .remember_creds {
      display: none;
    }

    &.should_remember .remember_creds {
      display: block;
    }

    .advanced_header {

      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 7px;
      .advanced_title {
        font-size: 17px;
        color: #00586B;
        text-decoration: none;
        cursor: pointer;
        &:before {
          content: "";
          display: inline-block;
          height: 16px;
          width: 20px;
          background: url('../images/advanced_bulletin.png') 0 3px no-repeat;
        }
      }
    }
    .advanced_form {
      input {
        width: 250px;
        height: 22px;
        margin-bottom: 5px;
        padding: 0 5px;
        border-radius: 5px;
      }
    }

    #pemFileLink {
      float: right;
      display: none;
      bottom: 195px;
      margin-right: 12px;
      z-index: 10;
      background-color: #87CEFA;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      padding: 4px 4px 4px 12px;
      font-size: 10px;
      font-weight: bold;
    }

  }
  #advanced form input {
    position: absolute;
    height: 21px;
    width: 220px;
    border: 0px none white;
    box-shadow: none;
  }

  #advanced {
    background-image: url("/img/advanced_form.png");
    width: 272px;
    height: 158px;
    position: absolute;
    bottom: 65px;
    right: 20px;
  }

  #show_advanced {
    position: absolute;
    bottom: 178px;
    right: 20px;
  }

  #advanced form input:-webkit-input-placeholder {
    color: #999;
  }
  #advanced form input:-moz-placeholder {
    color: #999;
  }
  #advanced form input:-ms-input-placeholder {
    color: #999;
  }

  #advanced form input:focus {
    outline: none;
  }

  #advanced form input[name="hpcs_key"] {
    top: 50px;
    left: 15px;
  }

  #advanced form input[name="hpcs_secret_key"] {
    top: 96px;
    left: 15px;
  }

  #walkthrough {
    position: absolute;
    background: url('/public/img/demo/walkthrough.png') -10px -15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //opacity: 0.5;

    &.no_link {
      background: url('/public/img/demo/walkthrough-no-link.png') -10px -15px;
    }

    a {
      color: white;
      position: absolute;
      left: 10px;
      top: 10px;

    }
  }

  .form-footer-links {
    float: right;
    margin-right: 5px;
    font-size: 12px;
    a {
      position: relative;
      color: #046c9f;
      text-decoration: none;
      border-bottom: 1px dashed;
      &:hover {
        border-bottom-style: solid;
        &:after {
          content: 'If you\2019re an HP Cloud Services User, Use the Api Keys in the HP Cloud Console to get the cloud credentials. The screen shot below outlines the properties you need retrieve from the  console:';
          position: absolute;
          bottom: 15px;
          right: 0;
          display: block;
          width: 350px;
          height: 310px;
          border: 1px solid #00B4DA;
          padding: 12px;
          background: #e6e6e6 url("/img/demo/hp-tooltip.jpg") 50% 100% no-repeat;
          color: #213540;
          box-shadow: 1px 1px 7px #777;
        }
      }
    }
  }

  .log-ellipsis {
    display: none;
    &:last-child {
      display: list-item;
    }
  }

  .remember_creds {
    z-index: 2;
    background: #ECECEC;
    position: absolute;
    height: 154px;
    width: 280px;
    margin-left: -12px;
    margin-top: 2px;

    .remember_me_title {
      margin: auto;
      border-bottom: 1px solid;
      width: 160px;
      padding-top: 10px;
      text-align: center;
    }

    .remember_option {
      text-align: center;
      button {
        height: 35px;
        width: 133px;
      }
      margin-top: 10px;
    }
  }

  #embed_btn {
    cursor: pointer;
  }
  #embed-code-box {
    position: absolute;
    bottom: 40px;
    right: 107px;
    width: 440px;
    height: 190px;
    padding: 8px 12px 12px;
    overflow: hidden;
    font-size: .9em;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 2px 1px 12px #555;
    h3, p {
      margin: 0;
      padding: 3px 0;
      text-align: center;
      line-height: 1.2;
    }
    p {
      padding-bottom: 8px;
    }
    textarea {
      width: 416px;
      height: 128px;
      padding: 5px 12px;
      background-color: #333;
      color: #eee;
    }
    // TODO abstract away for reuse
    .close {
      position: absolute;
      top: 6px;
      right: 6px;
      width: 29px;
      height: 29px;
      background: url("/img/icons/close-button.png") 50% 50% no-repeat;
      cursor: pointer;
    }
  }
}


#widget-view {
  .cloud-logo-icon {
    /* common CSS rules regardless to brand */
    display: inline-block;
  }

  &.softlayer {
    .cloud-logo-icon {
      content: url('/img/common/softlayer_logo.png');
      vertical-align: bottom;
    }

    .cloud-min-logo-icon {

      content: url('../images/softlayer_min.png');
      vertical-align: bottom;
    }

    .form-footer-links {
      display: none;
    }

    .login {
      margin-left: 332px;
      margin-top: 266px;
      &:before {
        content: "(Optional) Use your Softlayer credentials to launch the app or service under your account with no instance or time restrictions";
        margin-top: 20px;
        width: 255px;
        margin-left: 42px;
      }
    }
  }


  .share_links {
    float: right;
    margin-right:5px;
    .share_link{
      margin-right:5px;
      a{
        color:#545454;
      }
      .fa{
        color:#545454;
        font-size:26px;
        line-height:26px;
        vertical-align: bottom;

      }
    }

  }


}
