
<div id="editWidget" class=" layout action-panel {{editSection}}">
    <div id="main">
        <div class="modal-header"><h1>Edit Widget<span ng-show="isDirty" title="you have unsaved changes">*</span></h1><h2> {{editSection}} </h2><h3> {{widget.productName}} - {{widget.productVersion}}</h3></div>


        <div class="navigation">
        <ul class="nav nav-tabs">
            <li ng-repeat="navitem in navitems"  ng-class='{active: currentSection == navitem}' ng-click="navigateTo(navitem)">{{navitem.label}}</li>
        </ul>
    </div>
        <form name="widgetForm" class="form-horizontal" style="margin-bottom:0;">
        <!--consoleUrlService:"",-->
        <!--consoleurl: ""-->

            <h2> {{currentSection.label}} </h2>

            <div ng-show="currentSection.id === 'general'">
                <div ng-include="'views/widgets/edit/_general.html'"></div>
            </div>

            <div ng-show="currentSection.id === 'icon'">
                <div ng-include="'views/widgets/edit/_icon.html'"></div>
            </div>


            <div ng-show="currentSection.id === 'description'">

                <div form-field title="Description" field-id="description" value="widget.description" required="false" type="textarea"></div>

            </div>


            <div ng-show="currentSection.id === 'login'">
                <div ng-include="'views/widgets/edit/_login.html'"></div>
            </div>


            <div ng-show="currentSection.id === 'data'">
                <div ng-include="'views/widgets/edit/_data.html'"></div>
            </div>

            <div ng-show="currentSection.id === 'cloudProvider'">
                <div ng-include="'views/widgets/edit/_cloud_provider.html'"></div>

            </div>
        <div class="modal-footer">

            <div class="control-label"> <abbr style="color:red"> * </abbr> Mandatory fields </div>
            <a class="btn" href="#/widgets/index">Cancel</a>
            <input type="submit" class="btn btn-primary"  value="Save" ng-click="saveWidget(widget, actions.editIcon, false)"/>
            <button class="btn btn-primary" ng-click="saveWidget(widget, actions.editIcon, true)"> Save and Done</button>

        </div>
    </form>
        </div>
    </div>
</div>