<div class="layout" id="dashboard">

    <div id="main" class="widgets-dashboard ">
        <div class="row" id="search_panel">
            <div class="span1">
                <form class="form-search">
                    <input ng-model="search" type="text" placeholder="Filter widgets" class="input-medium search-query">
                </form>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" href="#/widgets/create">
                    Create new widget
                </a>
            </div>
        </div>
        <div id="widgets_panel">
            <table class="table table-bordered table-striped">
                <thead class="list_head">
                <tr>
                    <th>Icon</th>
                    <th>Product name</th>
                    <th>Product version</th>
                    <th>Provider URL</th>
                    <th>Title</th>


                    <!--<th>Launches</th>-->
                    <th>API Key</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <!-- Use this to use enable/disable options in CSS {{widget.enabled && 'enabled-widget' || 'disabled-widget'}}-->
                <tr ng-repeat="widget in widgets | filter:search" class="widget">
                    <td><img ng-show="!!widget.apiKey" style="height:40px; width:40px;" ng-src="/backend/widget/icon?apiKey={{widget.apiKey}}"/></td>
                    <td><a href="#/widgets/{{widget.id}}/preview">{{widget.productName}}</a></td>
                    <td>{{widget.productVersion}}</td>
                    <td><a href="{{widget.providerURL}}">{{widget.providerURL}}</a></td>
                    <td><div class="fixed-width-column">{{widget.title}}</div></td>

                    <!--<td><i title="view instances" class="icon-cog " ng-click="viewInstances(widget)"></i> <span class="badge">{{widget.numOfInstances}} / {{widget.launches}}</span></td>-->
                    <td><div class="fixed-width-column">{{widget.apiKey}}</div></td>
                    <td class="action_col">
                        <!--<a href="#/widgets/{{widget.id}}/preview" style="text-decoration: none; color:black;"><i title="preview" class="icon-eye-open"></i></a>-->
                        <!--<a href="#/widgets/{{widget.id}}/edit"  style="text-decoration: none; color:black;"><i title="edit" class="icon-edit"></i></a>-->
                        <!--<i title="get embed code" class="icon-share " ng-click="getEmbed(widget)"></i>-->
                        <!--<i title="delete" class="icon-trash " ng-click="delete(widget)"></i>-->
                        <i title="disabled - click to enable" class="fa fa-globe" style="color:red" ng-show="!widget.enabled" ng-click="enable(widget)"></i>
                        <i title="enabled - click to disable" class="fa fa-globe" style="color:green" ng-show="widget.enabled" ng-click="disable(widget)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- main -->
</div>


<!-- dialogs -->

<!-- running instances dialog -->


<!-- get embed code modal -->


<!-- require login modal -->








