<html ng-app="customLogin">
<head>
    <link href="/public/style/customLogin.css" rel="stylesheet">
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/angularjs/angular.js"></script>
</head>
<body ng-controller="CustomLoginController">

<div class="custom-login">
    <div class="forms-section">
        <div class="google-login">
            <div class="option-title">{{ 'loginRegisterWithGoogleId' | i18n }}</div>
            <a href="/widget/login/google?widgetKey={{widgetKey}}" >

                <img src="/public/img/sign_in_with_google.png"/>
            </a>
        </div>
        <div class="divider">
            <div class="line"></div>
            <div class="divider-text"> OR hello </div>
            <div class="line"></div>
        </div>
        <div class="custom-form">
            <div class="option-title">{{ 'loginFillInDetails' | i18n }}</div>

            <form ng-submit="submitForm()">
                <div class="input-section">
                    <span class="label">
                        {{ 'loginName' | i18n }}
                    </span>
                        <input ng-model="login.name" required>
                </div>
                <div class="input-section">
                <span class="label">
                    {{ 'loginLastName' | i18n }}
                </span>
                        <input ng-model="login.lastName" required>
                </div>


                <div class="input-section">
                <span class="label">
                    {{ 'loginEmail' | i18n }}
                </span>
                        <input ng-model="login.email" required >
                </div>
                <input type="submit" value="Submit"/>
                <div class="error">
                    {{error}}
                </div>
            </form>
        </div>
    </div>

</div>
</body>

<script>
    angular.module('customLogin', []);


    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }


    function CustomLoginController( $scope, $http, $log ){
        $log.info("loading controller");

        $scope.widgetKey = GetURLParameter('widgetKey');

        function recoverLoginFromLocalStorage( ){
            try {
                if (typeof(Storage) !== "undefined") {
                    if (localStorage.hasOwnProperty("customLogin"))
                        $scope.login = JSON.parse(localStorage.customLogin);
                    // Code for localStorage/sessionStorage.
                    localStorage.setItem("lastname", "Smith");
                }
            }catch(e){ $log.error('unable to recover login details', e);}
        }

        function saveLoginDetails(){
            if ( typeof(Storage) !== "undefined" ){
                localStorage.customLogin = JSON.stringify($scope.login);
            }
        }


        $scope.login = {};
        recoverLoginFromLocalStorage();



        $scope.submitForm = function( ){
            $scope.error = null;
            saveLoginDetails();
            $log.info('submitting login', $scope.login);
            $http.post('/widget/login/custom?widgetKey=' + $scope.widgetKey, $scope.login).then(function( result ){
                $log.info('got result from backend', result.data);

                window.opener.$windowScope.loginDone( $scope.login );

            }, function( result ){
                $log.info('got error from backend', $scope.error = result.data);
            })
        };



    }
</script>

</html>